<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="BeerCheck()">Are There Beers That Are Less Then $4 or Greather then $9?</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="CityCheck()">Are There Drinkers Who Frequent Bars At A Diffrent City?</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>{{BeerMessage}}</h1>
    </div>
    <div class="col">
      <h1>{{CityMessage}}</h1>
    </div>
  </div>
</div>