<h1>{{Message}}</h1>


<div class="card" style="width: 100%" *ngFor="let bars of Bars">
  <div class="card-block">
  	  <div class="container">
  	    <div class= "row">
    			<h4 class="card-title">{{bars.Name}}</h4>
		</div>

    	<div class= "row">
    		<div class= "col">
				<p class="card-text"> Perfect Match!</p>
    		</div>
    		<div class= "col">
    			 <p class="card-text"> City: {{bars.City}}</p>
    		</div>
            <div class= "col">
                 <label>Rate This Bar (1-10)</label>
            </div>
    	</div>
    	<div class= "row">
    		<div class= "col">
				<p class="card-text"> Happy Hour: {{bars.HappyHour}}</p>
    		</div>
    		<div class= "col">
    			 <p class="card-text"> Personality: {{bars.Personality}}</p>
    		</div>
            <div class= "col">
                 <input class="form-control input-sm"  [(ngModel)]="rateBar" type="text">
            </div>
    	</div>
    	<div class= "row">
    		<div class= "col">
				<p class="card-text"> Phone Number: {{bars.PhoneNum}}</p>
    		</div>
    		<div class= "col">
    			 <p></p>
    		</div>
            <div class= "col">
                 <button type="button" class="btn btn-success" (click)="SubmitRate(bars.Name)">Submit  {{ResultMessage}}</button>
            </div>
    	</div>    	
    </div>
  </div>
</div>