<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../', 'home']"><h4>Home</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../', 'existUserForm']"><h4>Bar Finder</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../', 'barsAtDiffrentCities']"><h4>Bars From Diffrent Cities</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../', 'patterns']"><h4>Pattern Checker</h4></a>
  </li>
</ul>

<div class="bg-inverse text-white text-center"><h1>{{title}}</h1></div>

<router-outlet></router-outlet>