<div class="container">
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" [routerLink]="['../', 'newUserForm']">New User</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary" [routerLink]="['../', 'existUserForm']">Existing User</button>
    </div>
  </div>
</div>

<h3>Some Users</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>test</td>
      <td>000 000 0000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Brenna Noble</td>
      <td>075 850 5172 </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Kash Mckinney</td>
      <td>706 294 3544 </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Simon Juarez</td>
      <td>588 290 3546 </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Sadie Kramer</td>
      <td>408 541 1512 </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Rafael Rowe</td>
      <td>607 939 0884 </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Davin Ho</td>
      <td>626 751 0060 </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Samuel Pakerson</td>
      <td>973 908 4444 </td>
    </tr>
  </tbody>
</table>
